.Pokecard-container {
    border: solid 3px;
    border-color: gold;
    background-color: #f1a22bb2;
    text-align: center;
    display:inline-block;
    padding: 10px;
    margin: 5px;
    width: 10em;
  }

.Pokecard-name {
    color: black;
    font-weight: bold;
    text-align: center;
}

.Pokecard-img {
    display: inline-block;
    align-content: center;
    margin: none;
}

.Pokecard-description {
    color: black;
    text-align: center;
}
