.Pokedex-title{
    color: darkgrey;
    font-weight: bold;
}

.Pokedex-totalExp {
    color: whitesmoke;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    color: gold;
}